springboot-webservice/webservice-server/src/main/resources/helloservice.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://github.com/tale2009"
           elementFormDefault="qualified">

    <!-- 获得用户请求 -->
    <xs:element name="SayHelloRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- 获得用户响应 -->
    <xs:element name="SayHelloResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>